/******************************************
 * The Arc masks
 */

 /* the main arc that grows with progress */
.arc {
  width: 28%;
  height: 28%;
}
/* the thinner arc that's always 360 */
.arc-thin {
  width: 28%;
  height: 28%;
}

.top-left {
  x: 4%;
  y: 4%;
}
.top-middle {
  x: 36%;
  y: 4%;
}
.top-right {
  x: 68%;
  y: 4%;
} 

.center-left {
  x: 4%;
  y: 36%;
}
.center-middle {
  x: 36%;
  y: 36%;
}
.center-right {
  x: 68%;
  y: 36%;
} 

.bottom-left {
  x: 4%;
  y: 68%;
}
.bottom-middle {
  x: 36%;
  y: 68%;
}
.bottom-right {
  x: 68%;
  y: 68%;
} 

/******************************************
 * grid
 */

.cell {
  width: 28%;
  height: 28%;
}

#row-top {
  x: 0;
  y: 0;
  width: 100%;
}
#row-middle {
  x: 0;
  y: 33%;
  width: 100%;
}
#row-bottom {
  x: 0;
  y: 66%;
  width: 100%;
}
.cell-left {
  x: 4%;
  y: 4%;
}
.cell-middle {
  x: $+4%;
  y: 4%;
}
.cell-right {
  x: $+4%;
  y: 4%;
}

/******************************************
 * Content
 */

.time-hours {
  font-size: 30;
  font-family: System-Bold;
  text-length: 4;
  fill: white;
  x: 50%;
  text-anchor: middle;
}
#hour-top { y: 39% }

.hours-split {
  x1: 15%; 
  y1: 48%; 
  x2: 85%;
  y2: 48%; 
  fill: white; 
  stroke-width: 1;
}

#hour-bottom { y: $+31%; }

.time-minutes {
  font-size: 46;
  font-family: System-Bold;
  text-length: 4;
  letter-spacing: 1;
  x: 50%;
  y: 66%;
  fill: white;
  text-anchor: middle;
}

#text-battery {
  font-size: 20;
  font-family: System-Bold;
  text-anchor: middle;
  text-length: 4;
  y: 70%;
  x: 50%;
  fill: white;
}

.date {
  font-size: 20;
  font-family: System-Bold;
  text-length: 4;
  fill: white;
  x: 50%;
  text-anchor: middle;
}

#date-name {
  y: 30%;
}
#date-month {
  y: 54%;
}
#date-day {
  y: 80%;
}

.bottom-icon  {
  fill: white;
  x: 50%-16;
  y: 50%-32;
  width: 32;
  height: 32;
}
.bottom-text {
  font-size: 20;
  font-family: System-Bold;
  text-anchor: middle;
  text-length: 8;
  y: 70%;
  x: 50%;
  fill: white;
}


.temp {
  font-size: 30;
  font-family: System-Bold;
  text-length: 4;
  letter-spacing: 1;
  x: 53%;
  y: 63%;
  fill: white;
  text-anchor: middle;
}

.temp-unit {
  font-size: 15;
  font-family: System-Bold;
  text-length: 2;
  fill: white;
  x: $-5;
  y: 64%;
  text-anchor: middle;
}